/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed By Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

body {
    direction: ltr;
}

.header-search button {
    left: auto;
    right: 0;
}

.header-call {
    padding: 0 0 0 20px;
}

.call-icon {
    left: auto;
    right: 0;
}

.header-nav a {
    margin-left: 0;
    margin-right: 30px;
}

.header-nav .active a::before {
    left: 0;
    right: auto;
}

.header-nav .active a::after {
    left: 19px;
    right: auto;
}

.field label {
    left: 0;
    right: auto;
}

.map-box::before {
    left: -15px;
    right: 0;
}

.map {
    margin-right: 0;
    margin-left: auto;
}

.copyright img {
    margin-right: 0;
    margin-left: 15px;
}

